
/* General */
.wd_popup_window {left:50%; min-width:300px; position:absolute; top:100px; visibility:hidden; z-index:981; -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -ms-user-select:none;} * html .wd_popup_window {width:200px;}
.wd_popup_window_fixed {position:fixed!important;}
	.wd_popup_title {overflow:hidden;}
	.wd_popup_close {cursor:pointer; overflow:hidden; outline:0; position:absolute; right:6px; text-decoration:none; top:4px; z-index:1; -moz-transition:0.2s all; -webkit-transition:0.2s all; -o-transition:0.2s all; -ms-transition:0.2s all; transition:0.2s all; }
	.wd_popup_inner {overflow:hidden; position:relative; -moz-user-select:text; -khtml-user-select:text; -webkit-user-select:text; -ms-user-select:text;}
.wd_popup_overlay {background:#000; display:none; height:100%; left:0;  position:fixed; top:0; width:100%; z-index:980;}

/* #01: default */
.wd_popup_style_01 {background:#eee url("webdebug.popup/01_bg.png") 0 0 repeat; border:5px solid #FF9601; padding:0 10px 20px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:0 0 20px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 20px rgba(0,0,0,0.3); box-shadow:0 0 20px rgba(0,0,0,0.3);}
	.wd_popup_style_01 .wd_popup_title {color:#000; font:normal 20px/22px "Arial", "Helvetica", sans-serif; line-height:22px; margin:6px 10px 12px 0; padding-right:6px; text-align:center;}
	.wd_popup_style_01 .wd_popup_close {color:#FF9601; font:bold 22px/16px "Arial", "Helvetica", sans-serif; right:4px; width:16px;}
	.wd_popup_style_01 .wd_popup_close:hover {color:red;}

/* #02: b1team */
.wd_popup_style_02 {background:#fff; padding:4px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; -moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.6); -webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.6); box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.6);}
	.wd_popup_style_02 .wd_popup_title {background:url("webdebug.popup/02_bg.png") 0 0 repeat-x; color:#fff; font:bold 18px/20px "PT Sans Narrow", "Arial Narrow", sans-serif; height:20px; padding:10px 26px 10px 10px; text-transform: uppercase; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6); -webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6); box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6);}
	.wd_popup_style_02 .wd_popup_close {background:url("webdebug.popup/02_close.png") 0 0 no-repeat; font-size:0; height:16px; overflow:hidden; right:10px; text-indent:-1000px; top:16px; width:16px;}
	.wd_popup_style_02 .wd_popup_inner {padding:10px;}

/* #03: simplemodal [1] */
.wd_popup_style_03 {background:#fff; border:1px solid #92929E; overflow:hidden; -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.6); -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.6); box-shadow:0 0 3px rgba(0, 0, 0, 0.6); -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
	.wd_popup_style_03 .wd_popup_title {background:#f8f8f8; border-bottom:1px solid #eee; color:#808080; font:bold 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; height:18px; padding:10px 15px; text-transform:uppercase;}
	.wd_popup_style_03 .wd_popup_close {color:#999; font-size:17px; height:17px; line-height:17px; text-align:center; top:9px; width:17px;}
	.wd_popup_style_03 .wd_popup_close:hover {color:red;}
	.wd_popup_style_03 .wd_popup_inner {padding:15px;}

/* #04: simplemodal [2] */
.wd_popup_style_04 {background:#f9f9f9; -moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
	.wd_popup_style_04 .wd_popup_title {color:#444; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:5px 15px;}
	.wd_popup_style_04 .wd_popup_close {background:url("webdebug.popup/04_close.png") 0 0 no-repeat; font-size:0; height:36px; overflow:hidden; right:-16px; text-indent:-1000px; top:-16px; width:36px;}
	.wd_popup_style_04 .wd_popup_inner {margin-top:5px; padding:15px;}

/* #05: speedo [1] */
.wd_popup_style_05 {background:#fff; border:1px solid #333; padding:10px 0 24px; -moz-box-shadow:0 4px 16px rgba(0,0,0,.2); -webkit-box-shadow:0 4px 16px rgba(0,0,0,.2); box-shadow:0 4px 16px rgba(0,0,0,.2);}
	.wd_popup_style_05 .wd_popup_title {color:#333; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:5px 15px 15px 24px; text-transform:uppercase;}
	.wd_popup_style_05 .wd_popup_close {color:#858585; font:bold 22px/16px "Arial", "Helvetica", sans-serif; height:16px; width:16px;}
	.wd_popup_style_05 .wd_popup_close:hover {color:red;}
	.wd_popup_style_05 .wd_popup_inner {padding:0 24px;}

/* #06: svyaznoy */
.wd_popup_style_06 {overflow:hidden; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:2px 8px 25px #545454; -webkit-box-shadow:2px 8px 25px #545454; box-shadow:2px 8px 25px #545454;}
	.wd_popup_style_06 .wd_popup_title {background:#545454; color:#fff; font:bold 14px/41px "Arial", "Helvetica", sans-serif; height:41px; padding:0 20px;}
	.wd_popup_style_06 .wd_popup_close {color:#858585; font:normal 26px/18px "Arial", "Helvetica", sans-serif; height:18px; top:12px; width:18px;}
	.wd_popup_style_06 .wd_popup_close:hover {color:#fff;}
	.wd_popup_style_06 .wd_popup_inner {background:#fff; padding:20px;}

/* #07 light */
.wd_popup_style_07 {background:#fff; border:2px solid #333; padding:10px 0 64px; -moz-box-shadow:0 4px 16px rgba(0,0,0,.2); -webkit-box-shadow:0 4px 16px rgba(0,0,0,.2); box-shadow:0 4px 16px rgba(0,0,0,.2); -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
	.wd_popup_style_07 .wd_popup_title {color:#333; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:5px 15px 15px 24px; text-transform:uppercase;}
	.wd_popup_style_07 .wd_popup_close {background:#E6E6E6; bottom:12px; color:#333; display:inline-block; font:normal 16px/24px "Arial", "Helvetica", sans-serif; height:24px; left:50%; margin-left:-60px; padding:4px 20px; position:absolute; right:auto; top:auto; text-align:center; width:80px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
	.wd_popup_style_07 .wd_popup_close:hover {background:#DCDCDC; color:red;}
	.wd_popup_style_07 .wd_popup_inner {padding:0 24px;}

/* #08 simple */
.wd_popup_style_08 {background:#fff; border:12px solid #dddddd; padding:10px 0 14px; -moz-box-shadow:0 4px 16px rgba(0,0,0,.2); -webkit-box-shadow:0 4px 16px rgba(0,0,0,.2); box-shadow:0 4px 16px rgba(0,0,0,.2); -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
	.wd_popup_style_08 .wd_popup_title {color:#333; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:5px 15px 15px 24px; text-transform:uppercase;}
	.wd_popup_style_08 .wd_popup_close {background:#fbfbf9; color:#ec6009; font:bold 33px/31px "Arial", "Helvetica", sans-serif; height:31px; overflow:hidden; right:-22px; text-align:center; top:-20px; width:31px; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; -moz-box-shadow:0 0 2px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.2); box-shadow:0 0 2px 2px rgba(0,0,0,.2); -moz-text-shadow:0 0 1px rgba(0,0,0,.8); -webkit-text-shadow:0 0 1px rgba(0,0,0,.8); text-shadow:0 0 1px rgba(0,0,0,.8);}
	.wd_popup_style_08 .wd_popup_close:hover {color:red;}
	.wd_popup_style_08 .wd_popup_inner {padding:0 24px;}

/* #09: advert */
.wd_popup_style_09 {background:#fff; border:1px solid #cdcdcd; padding:5px 4px 39px; -moz-box-shadow:0 0 12px 3px rgba(0,0,0,.3); -webkit-box-shadow:0 0 12px 3px rgba(0,0,0,.3); box-shadow:0 0 12px 3px rgba(0,0,0,.3); -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.wd_popup_style_09:after {background:#e6e5e5; border-top:1px solid #d2d2d2; bottom:0; content:''; height:32px; left:0; position:absolute; width:100%;}
	.wd_popup_style_09 .wd_popup_title {color:#333; display:none; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:5px 15px 5px 24px; text-transform:uppercase;}
	.wd_popup_style_09 .wd_popup_close {bottom:6px; color:#7c7c7c; font:bold 33px/31px "Arial", "Helvetica", sans-serif; height:25px; overflow:hidden; right:0; text-align:center; top:auto; width:25px; -moz-text-shadow:0 0 5px #fff; -webkit-text-shadow:0 0 5px #fff; text-shadow:0 0 5px #fff;}
	.wd_popup_style_09 .wd_popup_close:hover {color:red;}
	.wd_popup_style_09 .wd_popup_inner {background:#624C70; color:#fff; padding:10px 24px;}

/* #10: post */
.wd_popup_style_10 {background:#F2F2F2; border:1px solid #aaa; padding:10px 0 28px; -moz-box-shadow:0 4px 20px 3px rgba(0,0,0,.5); -webkit-box-shadow:0 4px 20px 3px rgba(0,0,0,.5); box-shadow:0 4px 20px 3px rgba(0,0,0,.5);}
.wd_popup_style_10:before {background:url("webdebug.popup/10_post_bg.png"); content:''; height:9px; left:0; position:absolute; top:0; width:100%;}
.wd_popup_style_10:after {bottom:0; content:''; height:20px; left:0; position:absolute; width:100%; background:#f2f2f2; background:-moz-linear-gradient(top,  #f2f2f2 0%, #d3d3d3 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#d3d3d3)); background:-webkit-linear-gradient(top,  #f2f2f2 0%,#d3d3d3 100%); background:-o-linear-gradient(top,  #f2f2f2 0%,#d3d3d3 100%); background:-ms-linear-gradient(top,  #f2f2f2 0%,#d3d3d3 100%); background:linear-gradient(to bottom,  #f2f2f2 0%,#d3d3d3 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d3d3d3',GradientType=0 );}
	.wd_popup_style_10 .wd_popup_title {color:#333; font:bold 14px/20px "Arial", "Helvetica", sans-serif; padding:12px 15px 15px 24px; text-transform:uppercase;}
	.wd_popup_style_10 .wd_popup_close {background:url("webdebug.popup/10_close.png"); color:#858585; font-size:0; height:32px; left:-16px; right:auto; text-indent:-1000px; top:-16px; width:32px;}
	.wd_popup_style_10 .wd_popup_inner {padding:0 24px;}
.wd_popup_style_10 + .wd_popup_overlay {display:none!important;}

/* #11: redsign */
.wd_popup_style_11 {background:transparent; border:0; overflow:hidden; padding:0 0 42px; -moz-box-shadow:0 4px 16px rgba(0,0,0,.1); -webkit-box-shadow:0 4px 16px rgba(0,0,0,.1); box-shadow:0 4px 16px rgba(0,0,0,.1); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.wd_popup_style_11:after {background:#F3F3F3; border:1px solid #DBDBDB; border-top:0; bottom:0; content:''; height:42px; left:0; position:absolute; width:100%; -moz-border-radius:0 0 8px 8px; border-radius:0 0 8px 8px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.wd_popup_style_11 .wd_popup_title {color:#fff; height:39px; font:normal 24px/25px "Arial", "Helvetica", sans-serif; padding:14px 59px 0; text-align:center; background:#31ACD7; background:-ms-linear-gradient(top, #3DC0E0, #31ACD7); background-image:-moz-linear-gradient(top, #3DC0E0, #31ACD7); background-image:-o-linear-gradient(top, #3DC0E0, #31ACD7); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3DC0E0), to(#31ACD7)); background-image:-webkit-linear-gradient(top, #3DC0E0, #31ACD7); background-image:linear-gradient(to bottom, #3DC0E0, #31ACD7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3DC0E0',endColorstr='#31ACD7',GradientType=0); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3DC0E0, endColorstr=#31ACD7)"; -webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0;}
	.wd_popup_style_11 .wd_popup_close {background:url("webdebug.popup/11_close.png"); font:0; height:14px; right:22px; text-indent:-1000px; top:20px; width:15px; -moz-transition:none; -webkit-transition:none; -o-transition:none; -ms-transition:none; transition:none;}
	.wd_popup_style_11 .wd_popup_close:hover {background-position:-15px 0;}
	.wd_popup_style_11 .wd_popup_inner {background:#fff; border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB; padding:25px 30px;}
.wd_popup_style_11 + .wd_popup_overlay {background:#fff;}
