.around_filtren{
	position:relative;
}
.around_filtren .filterfixed.fixed{
	position:fixed;
	top:0px;
	width:251px;
}
.around_filtren .filterfixed.stop{
	position:relative;
}

.filtren{
	position:relative;
	background-color:#fff;
	border-top:1px solid #F3F3F3;
	border-bottom:1px solid #F3F3F3;
	border-left:1px solid #F3F3F3;
}
.filtren .title,
.filtren .filtercompare{
	display:none;
	margin-bottom:5px;
}
.filtren .title a:hover{
	text-decoration:none;
}
.filtren .title a span{
	border-bottom:1px dashed #214496;
}
.filtren.opened .title span.show,
.filtren .title span.hide{
	display:none;
}
.filtren .title span.show,
.filtren.opened .title span.hide{
	display:inline;
}
.filtren .filtercompare{
	float:right;
}
.filtren .showchild{
	display:block;
	padding:7px 20px 7px 7px;
	color:#666666;
	text-transform:uppercase;
	background-color:#F3F3F3;
}
.filtren .showchild:hover{
	color:#fff;
	background-color:#EE8131;
}
.filtren .showchild .icon{
	width:8px;
	height:4px;
	margin-bottom:2px;
	margin-right:5px;
	background-position:0px 0px;/*0px -639px*/
}
.filtren .showchild:hover .icon{
	background-position:0px -8px;
}
.filtren .closed .showchild .icon{
	width:4px;
	height:8px;
	margin-right:7px;
	margin-left:2px;
	background-position:0px -639px;
}
.filtren .closed .showchild:hover .icon{
	width:4px;
	height:8px;
	background-position:-16px -639px;
	
}

.filtren .lvl1.closed > ul{
	display:none;
}
.filtren .lvl1 ul{
	padding:8px 4px;
}

.filtren .lvl1.color .lvl2,
.filtren .lvl1.color .lvl2 label,
.filtren .lvl1.color .lvl2 label span{
	display:inline-block;
}
.filtren .lvl1.color .lvl2 label{
	padding:5px 7px;
	cursor:pointer;
}
.filtren .lvl1.color .lvl2 label:hover{
	background-color:#EE8131;
}
.filtren .lvl1.color .lvl2 label span{
	width:21px;
	height:21px;
	font-size:0;
	vertical-align:middle;
	border:1px solid #EEE;
}
.filtren .lvl1.color .lvl2 label.checked span{
	border:1px solid #F00;
}
.filtren .lvl2 label{
	display:block;
	color:#214496;
	padding:1px 0px;
}
.filtren .lvl2.lvl2_disabled label{
	color:#C9C9C9;
	cursor:default;
}
.filtren .lvl2 label:hover{
	text-decoration:underline;
}
.filtren .lvl2.lvl2_disabled label:hover{
	text-decoration:none;
}
.filtren .pricegroup .lvl2 label{
	width:50%;
	float:left;
}
.filtren .number .inputs{
	text-align:center;
}
.filtren .number .min,
.filtren .number .max{
	margin-left:5px;
	padding:0px;
	text-align:center;
	border:1px solid #F2F2F2;
	box-shadow:none;
}

.filtren .around_f_search{
	margin-bottom:5px;
	padding:4px 4px 3px 4px;
	border:1px solid #F2F2F2;
}
.filtren .around_f_search .f_search{
	width:100%;
	padding:0px;
	border:none;
	box-shadow:none;
}
.filtren .around_f_search .f_search:focus{
	border:none;
}

.filtren .buttons{
	padding:10px 0px;
	text-align:center;
}
.filtren .separator{
	padding:0px 8px;
}

.filtren .modef{
	left:243px;
	min-width:300px;
	position:absolute;
	top:-5px;
	white-space:nowrap;
	z-index:210;
}
.filtren .modef .arrow{
	padding:6px 7px 6px 0px;
	background-image:url('img/modef_bg.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.filtren .modef .data{
	padding:6px 10px;
	color:#fff;
	background-color:#899cc7;
}
.filtren .modef .data a{
	color:#fff;
	text-decoration:underline;
}
.filtren .modef .data a:hover{
	text-decoration:none;
}

.filtren .f_jscrollpane{
	width:100%;
	height:190px;
	overflow:auto;
}

ul.ColorMain{}
ul.ColorMain li{
    width: 49%;
    line-height: 0px;
}
ul.ColorMain li label{
    padding: 2px !important;
    width: 100%;
    box-sizing: border-box;
}
ul.ColorMain li label:hover,
ul.ColorMain li label.checked{
    color:#ffffff;
    background-color: #0695c7 !important;
}
ul.ColorMain li label text{
    font-size: 12px;
}

@media screen and (max-width:875px){
	body.adaptive .filtren .lvl2 label{
		padding:3px 0px;
	}
}
@media screen and (max-width:605px){
	body.adaptive .filtren{
		border:none;
	}
	body.adaptive .filtren .title,
	body.adaptive .filtren .filtercompare{
		display:block;
	}
	body.adaptive .filtren .body{
		display:none;
		margin-top:5px;
	}
	body.adaptive .filtren.opened .body{
		display:block;
	}
	body.adaptive .filtren li.lvl1{
		width:100%;
	}
}